html{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.up{
  background-color: rgb(52, 50, 50);
  text-align: center;
  color: aliceblue;
  padding:25px;
  
}

*{  
  margin:0px;
}

h3{
  font-size: x-large;
}

.cake1 {
  text-align: center;
  color:rgb(15, 12, 17);
  background-color: blanchedalmond;
  padding:25px;
}
.box{
  border-width:6px;
  border-color: black;
  display:inline-block;
  margin:30px;
  transition: 0.3s ease;
  border-radius: 25px;

}

img{
  border-radius: 50px;
  box-shadow: 0 8px 16px black;
}

.mid{
  background-color: burlywood;
  color:black;
  padding:25px;
  text-align: center;
}

.box:hover {
  transform: scale(1.07);
}
